<!--Form-->
<div class="card wow fadeInRight animated" data-wow-delay="0.3s">
    <div class="card-body">
        <!--Header-->
        <div class="text-center">
            <h3 class="white-text"><i class="fa fa-user fa-lg white-text"></i> Register</h3>
            <hr class="hr-light">
        </div>

        <!--Body-->
        <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)" novalidate>
            <div class="md-form">
                <i class="fa fa-user prefix white-text"></i>
                <input type="text" id="form1" required minlength="4" #nameRef="ngModel" [ngClass]="{'invalidInput': nameRef.invalid}" class="form-control" placeholder="Your Name" name="name" ngModel>

                <div *ngIf="nameRef.errors && (nameRef.dirty || nameRef.touched)" class="card pink lighten-2 text-center z-depth-2">
                    <div [hidden]="!nameRef.errors.required" class="card-body">
                        <p class="white-text mb-0">Please Input name</p>
                    </div>
                    <div [hidden]="!nameRef.errors.minlength" class="card-body">
                        <p class="white-text mb-0">Name have to be more than 4 letters</p>
                    </div>
                </div>
            </div>
            <div class="md-form">
                <i class="fa fa-envelope prefix white-text"></i>
                <input type="text" id="form2" class="form-control" placeholder="Your Email" name="email" ngModel>
            </div>
            <div ngModelGroup="address">
                <div class="md-form">
                    <i class="fa fa-street-view fa-lg prefix white-text"></i>
                    <input type="text" id="form3" class="form-control" placeholder="Your Street" name="street" ngModel>
                </div>
                <div class="md-form">
                    <i class="fa fa-home prefix white-text"></i>
                    <input type="text" id="form4" class="form-control" placeholder="Your City" name="city" ngModel>
                </div>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix white-text"></i>
                <input type="password" id="form5" class="form-control" placeholder="Your Password" name="pswd" ngModel>
            </div>

            <div class="text-center">
                <button class="btn btn-indigo" [disabled]="!userForm.form.valid">Sign up</button>
                <hr class="hr-light mb-3 mt-4">

                <div class="inline-ul text-center d-flex justify-content-center">
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter white-text"></i></a>
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin white-text"> </i></a>
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram white-text"> </i></a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--/.Form-->